@model eBilet2.Models.Ticket

@{
    ViewData["Title"] = "Ticked confirmation";
}

<h1>Ticked confirmation:</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Localization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event.Localization)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event.EventType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event.EventType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event.TicketLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event.TicketLimit)
        </dd>
    </dl>
</div>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.RegisterDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.RegisterDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Status)
        </dd>
    </dl>
</div>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
    </dl>
</div>


<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>
